*.ini
*.bat
*.txt

#vscode config
.vscode/

#node modules
node_modules/

#app data
data/

# test scripts
tests/

package-lock.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local